.clock {
  position: relative;
  width: 90vmin;
  height: 90vmin;
  background: radial-gradient(circle, #333, #000);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 5%;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.retro .clock {
  height: 100%;
  width: auto;
  aspect-ratio: 1019 / 972;
  .center {
    top: 50.5%;
    height: 3%;
    left: 50.2%;
  }

  .hand {
    &.hour {
      height: 22%;
      top: 28.5%;
      left: 47.7%;
    }

    &.minute {
      height: 22%;
      top: 28.5%;
      left: 47.8%;
    }

    &.second {
      height: 23%;
      top: 27.6%;
      left: 49.3%;
    }
  }
}

.hand {
  position: absolute;
  left: 50%;
  transform-origin: center bottom;
  transform: rotate(0deg);
  cursor: grab;

  &.solved {
    transition: transform 1.5s ease-in-out;
  }

  &.dragging {
    cursor: grabbing;
  }

  &.neon {
    background: #cc66ff;
    box-shadow: 0 0 10px #cc66ff, 0 0 20px #cc66ff, 0 0 30px #cc66ff;
    border-radius: 50px;
    pointer-events: auto;
  }

  &.hour {
    height: 30%;
    top: 20%;
    left: 48.5%;
    &.neon {
      left: 49%;
      width: 15px;
    }
  }

  &.minute {
    height: 40%;
    top: 10%;
    left: 48.7%;

    &.neon {
      left: 49.5%;
      width: 10px;
    }
  }

  &.second {
    height: 45%;
    top: 5%;
    left: 49.5%;
    &.neon {
      width: 5px;
      background: #ff66ff;
      box-shadow: 0 0 10px #ff66ff, 0 0 20px #ff66ff, 0 0 30px #ff66ff;
    }
  }
}
