.clock {
  position: relative;
  width: 90vmin;
  height: 90vmin;
  background: radial-gradient(circle, #333, #000);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5%;
    height: 5%;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.hand {
  position: absolute;
  left: 50%;
  transform-origin: center bottom;
  transform: rotate(0deg);
  cursor: grab;
  &.solved {
    transition: transform 1.5s ease-in-out;
  }
}

.hand.dragging {
  cursor: grabbing;
}

.hour {
  height: 30%;
  top: 20%;
  left: 48.5%;
}

.minute {
  height: 40%;
  top: 10%;
  left: 48.7%;
}

.second {
  height: 45%;
  top: 5%;
  left: 49.5%;
}
