@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap");

div#MainScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  div.frame {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
